
<div class = "container">
    <div class = "row border-bottom">
        <div class ="col-12 mb-4">
            <img class = "img-fluid" src = "static\cover.jpg" width = "100%" height = "100%">  
        </div>
         
    </div>                  
    <div class = "row mt-4 border-bottom">
        <div class = "col-md-6">
            <p class = " lead align-middle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada. Dictumst quisque sagittis purus sit amet volutpat. Sed lectus vestibulum mattis 
                ullamcorper velit sed ullamcorper. Elit eget gravida cum sociis natoque penatibus et. Lacus vestibulum sed arcu non. Arcu felis bibendum ut tristique et
                egestas. Nunc lobortis mattis aliquam faucibus purus in. At tellus at urna condimentum mattis. Pellentesque eu tincidunt tortor aliquam nulla facilisi. 
                 Fringilla phasellus faucibus scelerisque eleifend donec. Orci dapibus ultrices in iaculis nunc sed augue lacus.</p>
        </div>
        <div class ="col-6 d-none d-md-block">
            <img src = "static\side.jpg" height="90%" width ="95%" >
        </div>
        
    </div>
    <div>
        <h1 class = 'text-center mb-4 mt-4'><b>Available Motorcycles</b></h1>
    </div>
     
    <div class = 'row'>

        {% for motorcycle in motorcycles %}

        {% include 'motorcycles.html' %}
        
        {% endfor %}
    </div>

</div>